<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %d{yyyy/MM/dd HH:mm:ss,SSS} %C.%M(%L) | %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="ERROR"/>
            <param name="LevelMin" value="INFO"/>
        </filter>
    </appender>
    <appender name="info-file" class="org.apache.log4j.RollingFileAppender">
        <param name="ImmediateFlush" value="false"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="5MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <param name="File" value="logs/ypzj.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[ypzj] %d{yyyy/MM/dd HH:mm:ss,SSS} %C.%M(%L) | %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="INFO"/>
            <param name="LevelMin" value="DEBUG"/>
        </filter>
    </appender>
    <appender name="err-file" class="org.apache.log4j.RollingFileAppender">
        <param name="ImmediateFlush" value="false"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="5MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <param name="File" value="logs/ypzj.log.wf"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[ypzj] %d{yyyy/MM/dd HH:mm:ss,SSS} %C.%M(%L) | %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="FATAL"/>
            <param name="LevelMin" value="WARN"/>
        </filter>
    </appender>
    <root>
        <level value="debug"/>
        <appender-ref ref="console"/>
        <appender-ref ref="info-file"/>
        <appender-ref ref="err-file"/>
    </root>
    
</log4j:configuration>