
.top-panel .slider {
  margin-bottom: 20px;
}
.main-panel .line-list .line-content .card {
  height: 200px;
}
.main-panel .line-list .line-content .card img {
  margin:0 auto;
  height: 150px;
  border-radius: 5px;
  -webkit-box-shadow:0 0 3px 2px rgba(0,0,0,.2);
  box-shadow:0 0 3px 2px rgba(0,0,0,.2);
  margin-bottom: 10px;
}
