.validate-container {
  max-width: 450px;
  padding-bottom: 50px;
}
.validate-container .header {
  text-align: center;
  margin-bottom: 20px;
}
.validate-group {
  position: relative;
  margin-bottom: 40px;
}
.validate-alarm {
  position: absolute;
  color: #f32807;
}
